    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&family=Roboto:ital,wght@1,300&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
    }
    
    html {
        --bg-color: #1e3888;
        --color: #47a8bd;
    }
    
    body {
        background-color: var(--bg-color);
        font-family: 'Prompt', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 635px;
    }
    
    .container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .perfil {
        width: 50%;
    }
    
    .button {
        width: 50%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }
    
    .avatar {
        border-radius: 50%;
        width: 40%;
        padding: 3.7px;
        border: var(--color) solid 3px;
    }
    
    h1 {
        color: var(--color);
        margin-bottom: 5px;
        font-family: 'Prompt', sans-serif;
    }
    
    p {
        color: var(--color);
        font-size: 20px;
    }
    
    ul {
        list-style: none;
        margin-top: 40px;
    }
    
    ul li a {
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1e3888;
        border: var(--color) 2px solid;
        color: var(--color);
        margin-bottom: 16px;
        border-radius: 6px;
        transition: background-color 400ms;
    }
    
    .img-sml {
        margin-right: 10px;
    }
    
    ul li a:hover {
        background-color: #1b798e;
    }
    
    footer {
        color: var(--color);
        margin-top: 30px;
        font-size: 12px;
        opacity: 0.8;
    }
    
    @media screen and (max-width: 767px) {
        body {
            margin: auto;
            height: 800px;
        }
        .container {
            width: 80%;
        }
        .avatar {
            width: 60%;
        }
        .perfil,
        .button {
            width: 80%;
        }
    }
    
    @media screen and (min-width: 768px) and ( max-width:1023px) {
        .avatar {
            width: 80%;
        }
    }



    /* BACKGROUD ANIMADO */

    svg {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: block;
        background-color: #0e4166;
        background-image: linear-gradient(
          to bottom,
          rgba(14, 65, 102, 0.86),
          #0e4166
        );
      }
      